# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Custom for flex
*.yy.c
*.tab.c

# Custom for antlr
*[lL]istener.*
*[lL]exer.*
*[pP]arser.*
*[vV]isitor.*
*.interp
*.tokens
*.class
!*Parser.g4
!*Lexer.g4

# Custom for llvm
*.s
*.ll
